p{
    color:rgb(145, 166, 185);

}
body{
    background-color: rgb(15, 15, 15);
}
button{
    color: rgb(255, 0, 0);

    
    
}
button:hover,
button:focus{
    background-color: red;
    transform: translateX(10px);
    
}
p{
    color: aliceblue;
}
body{
    background-color: rgb(104, 103, 103);
   background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    background-position: unset;
    padding-top: 8%;
}
button {
    color: white;
    border: none;
    background: rgb(127, 10, 10);
    height: 40px;
    width: 90px;
    transition:1s;
    font-weight: 100;
  }
  
  button :hover
  button :focus {
    background: red;
  }
input, textarea{
    width: 60%;
    margin: 1%;
    padding: 1%;
    color: white;
    background: rgb(0, 0, 0);
}
textarea{
    height: 150px;
}
h1{
    position: absolute;
   left: 75%;
    color: aliceblue;
    background-color: darkblue;
    padding: 1%;
    top:3% ;
}
label{
    width: 59%;
}
img{
    width: 13%;
    position: absolute;
    left: 78%;
    top: 28%;
}

 

